In [2]:
import pandas as pd
df = pd.read_csv('survey2018.csv')
df.head(5)

/Users/dan/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [3]:
df['LanguageWorkedWith'].head(5)

0                          JavaScript;Python;HTML;CSS
1                        JavaScript;Python;Bash/Shell
2                                                 NaN
3    C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4                  C;C++;Java;Matlab;R;SQL;Bash/Shell
Name: LanguageWorkedWith, dtype: object

In [4]:
languages = df['LanguageWorkedWith'].str.split(';', expand=True)
languages.head(5)

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,JavaScript,Python,HTML,CSS,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,JavaScript,Python,Bash/Shell,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C#,JavaScript,SQL,TypeScript,HTML,CSS,Bash/Shell,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,C,C++,Java,Matlab,R,SQL,Bash/Shell,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [5]:
summary = languages.apply(pd.Series.value_counts)
summary.head(10)

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
Assembly,5760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bash/Shell,29,465.0,1221.0,1929.0,2882.0,4442.0,4844.0,4269.0,3311.0,2562.0,...,3.0,1.0,2.0,2.0,NaN,1.0,NaN,NaN,2.0,35.0
C,13335,4707.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C#,16969,4321.0,3990.0,1674.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C++,7042,9275.0,3555.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CSS,2,133.0,1649.0,4674.0,9664.0,9907.0,7746.0,5656.0,4132.0,2710.0,...,1.0,2.0,1.0,NaN,1.0,NaN,NaN,2.0,39.0,NaN
Clojure,454,249.0,142.0,86.0,42.0,59.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cobol,5,6.0,29.0,45.0,62.0,54.0,62.0,55.0,52.0,38.0,...,1.0,NaN,2.0,NaN,NaN,2.0,39.0,NaN,NaN,NaN
CoffeeScript,1413,612.0,271.0,168.0,139.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delphi/Object Pascal,93,141.0,209.0,220.0,221.0,214.0,214.0,134.0,129.0,115.0,...,NaN,1.0,NaN,NaN,2.0,39.0,NaN,NaN,NaN,NaN

In [6]:
summary = pd.DataFrame({'count': summary.sum(axis=1).groupby(lambda x: x.strip()).sum()})
summary

                        count
Assembly               5760.0
Bash/Shell            31172.0
C                     18042.0
C#                    26954.0
C++                   19872.0
CSS                   50979.0
Clojure                1032.0
Cobol                   590.0
CoffeeScript           2603.0
Delphi/Object Pascal   2025.0
Erlang                  886.0
F#                     1115.0
Go                     5532.0
Groovy                 3373.0
HTML                  53628.0
Hack                    254.0
Haskell                1961.0
Java                  35521.0
JavaScript            54686.0
Julia                   430.0
Kotlin                 3508.0
Lua                    2733.0
Matlab                 4564.0
Objective-C            5510.0
Ocaml                   470.0
PHP                   24071.0
Perl                   3280.0
Python                30359.0
R                      4813.0
Ruby                   7911.0
Rust                   1857.0
SQL                   44670.0
Scala                  3420.0
Swift                  6310.0
TypeScript            13626.0
VB.NET                 5254.0
VBA                    3810.0
Visual Basic 6         3087.0

In [7]:
total = df[df['LanguageWorkedWith'].notnull()].shape[0]
summary['percent'] = summary['count']/total*100
summary

                        count    percent
Assembly               5760.0   7.353129
Bash/Shell            31172.0  39.793704
C                     18042.0  23.032144
C#                    26954.0  34.409069
C++                   19872.0  25.368295
CSS                   50979.0  65.079021
Clojure                1032.0   1.317436
Cobol                   590.0   0.753185
CoffeeScript           2603.0   3.322950
Delphi/Object Pascal   2025.0   2.585084
Erlang                  886.0   1.131054
F#                     1115.0   1.423392
Go                     5532.0   7.062068
Groovy                 3373.0   4.305921
HTML                  53628.0  68.460694
Hack                    254.0   0.324253
Haskell                1961.0   2.503383
Java                  35521.0  45.345572
JavaScript            54686.0  69.811321
Julia                   430.0   0.548931
Kotlin                 3508.0   4.478260
Lua                    2733.0   3.488906
Matlab                 4564.0   5.826333
Objective-C            5510.0   7.033983
Ocaml                   470.0   0.599995
PHP                   24071.0  30.728675
Perl                   3280.0   4.187198
Python                30359.0  38.755840
R                      4813.0   6.144203
Ruby                   7911.0  10.099063
Rust                   1857.0   2.370618
SQL                   44670.0  57.025047
Scala                  3420.0   4.365920
Swift                  6310.0   8.055251
TypeScript            13626.0  17.394746
VB.NET                 5254.0   6.707177
VBA                    3810.0   4.863788
Visual Basic 6         3087.0   3.940818

In [8]:
summary.plot.barh(y='percent', figsize=(10,10))